* {
    box-sizing: border-box;
}

/*////////////////////////
2. Typography
////////////////////////*/

h1,
h2,
h3,
h4,
h5 {
    font-family: Roboto, sans-serif;
}

h1 {
    font-size: 1.5em;
    font-weight: 700;
}

p {
    font-family: Poppins, sans-serif;
}

/*Opdracht 2b: Zorg ervoor dat dit aantal in het groen wordt weergegeven op de pagina.*/
#totaal-sold {
    background-color: gold;
    color: green;
    font-weight: bold;
}
